.yellow {
  height: 40px;
  background-color: yellow;
}

.blue {
  height: 40px;
  background-color: blue;
}

.red {
  height: 40px;
  background-color: red;
}

.green {
  height: 40px;
  background-color: green;
}

.gray {
  height: 40px;
  background-color: gray;
}
